/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {
  &-list {
    @include tablet {
      margin: 0 -15px;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
  }

  &-item {
    @include tablet {
      margin: 0 15px 30px;
    }

    border: 1px solid #bbb;
    border-radius: 0;
    box-sizing: border-box;
    color: $brand_color;
    display: flex;
    flex: 1 0 340px;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 30px;
    max-width: 100%;
    text-align: center;

    &:hover,
    &:focus,
    &:active {
      background-color: $brand_color;

      * {
        color: $brand_text_color;
        text-decoration: none;
      }
    }
    a {
      color: #999;
      height: 245px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: center 30% no-repeat;
      background-size: 40% 40%;
      background-color: rgba(255, 255, 255, 0.7);
      background-blend-mode: lighten;

      h4 {
        margin-top: auto;
        font-weight: 500;
      }
    }
    //&:nth-child(1) a::before { width: 100px; color: #ccc; opacity: 0.25; content: url($assets-file-invoice-dollar-svg); }
    //&:nth-child(2) a::before { width: 100px; color: #ccc; opacity: 0.25; content: url($assets-clipboard-check-svg); }
    //&:nth-child(3) a::before { width: 100px; color: #ccc; opacity: 0.25; content: url($assets-clipboard-list-svg); }
    //&:nth-child(4) a::before { width: 100px; color: #ccc; opacity: 0.25; content: url($assets-users-svg); }
    //&:nth-child(5) a::before { width: 100px; color: #ccc; opacity: 0.25; content: url($assets-laptop-svg); }
    //&:nth-child(6) a::before { width: 100px; color: #ccc; opacity: 0.25; content: url($assets-cogs-svg); }
    
    &:nth-child(1) a { background-image: url($assets-file-invoice-dollar-svg); }
    &:nth-child(2) a { background-image: url($assets-clipboard-check-svg); }
    &:nth-child(3) a { background-image: url($assets-clipboard-list-svg); }
    &:nth-child(4) a { background-image: url($assets-users-svg); }
    &:nth-child(5) a { background-image: url($assets-laptop-svg); }
    &:nth-child(6) a { background-image: url($assets-cogs-svg); }

    &-internal {
      background-color: transparent;
      border: 1px solid $border-color;

      .icon-lock::before {
        content: "\1F512";
        font-size: 15px;
        bottom: 5px;
        position: relative;
      }

      a { color: $text_color; }
    }
  }

  &-item-link {
    color: $brand_color;
    padding: 20px 30px;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  &-item-title {
    margin-bottom: 0;
  }

  &-item-description {
    font-weight: $font-weight-light;
    margin: 0;
  }

  &-item-description:not(:empty) {
    margin-top: 10px;
  }
}
