/***** Category pages *****/
.category {
  &-container {
    display: flex;
    justify-content: flex-end;
  }

  &-content {
    @include desktop {
      //flex: 0 0 80%;
    }

    flex: 1;
  }
}

.section-tree {
  @include tablet { flex-direction: row; }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  .section {
    @include tablet { flex: 0 0 48%; /* Two columns for tablet and desktop. Leaving 5% separation between columns */ }
    flex: initial;
    background: #f3f3f3;
    padding: 1.2rem;
    margin-bottom: 2rem;
  }

  &-title {
    margin-bottom: 0;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    &:last-child {
      border-bottom: none;
    }

    a {
      color: $text_color;
      text-decoration: none;
      &:hover {
        color: #222;
      }
    }
  }

  .see-all-articles {
    display: block;
    padding: 15px 0;
  }
}

.article-list {
  &-item {
    font-size: $font-size-bigger;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;

    a {
      color: $text_color;
      text-decoration: none;
      &:hover {
        color: #222;
      }
    }

    .icon-lock::before {
      vertical-align: baseline;
    }
  }
}

.icon-star::before {
  color: $brand_color;
  font-size: 18px;
}
