/***** Community *****/
.community {
  &-hero {
    //background-image: url($community_background_image);
    background-color: #efefef;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23cccccc' fill-opacity='0.2'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 6%;
    margin-bottom: 10px;
  }

  &-footer {
    padding-top: 50px;
    text-align: center;
  }

  &-featured-posts,
  &-activity {
    padding-top: 40px;
    width: 100%;
  }

  &-header {
    margin-bottom: 30px;

    h4 { margin-bottom: 0; }
  }
}

.post-to-community {
  @include tablet { margin: 0; }
  margin-top: 10px;
}

/* Community topics grid */
.topics {
  max-width: none;
  width: 100%;

  &-item {
    .meta-group {
      justify-content: center;
      margin-top: 20px;
    }
  }
}

/* Community topic page */

.topic-header {
  @include tablet { padding-bottom: 10px; }
  border-bottom: 1px solid $border-color;
  font-size: $font-size-small;

  .dropdown {
    @include tablet {
      border-top: 0;
      display: inline-block;
      margin-right: 20px;
      padding: 0;
    }

    display: block;
    border-top: 1px solid $border-color;
    padding: 10px 0;
  }
}

.no-posts-with-filter {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Topic, post and user follow button */
.community-follow {
  @include tablet {
    margin-bottom: 0;
    width: auto;
  }

  margin-bottom: 10px;
  width: 100%;

  .dropdown {
    width: 100%;
  }

  [role="button"] {
    @include tablet { width: auto;}

    line-height: 30px;
    padding: 0 10px 0 15px;
    position: relative;
    width: 100%;

    &:hover { background-color: $brand_color; }

    &:hover::after, &:focus::after {
      border-color: $brand_text_color;
      color: $brand_text_color;
    }

    &[aria-selected="true"] {
      background-color: $brand_color;
      color: $brand_text_color;

      &::after {
        border-left: 1px solid $brand_text_color;
        color: $brand_text_color;
      }

      &:hover {
        background-color: $hover-button-color;
        border-color: $hover-button-color;
      }
    }

    &::after {
      @include tablet {
        position: static;
      }

      border-left: 1px solid $button-color;
      content: attr(data-follower-count);
      color: $button-color;
      display: inline-block;
      font-family: $heading_font;
      margin-left: 15px;
      padding-left: 10px;
      position: absolute;
      right: 10px;

      [dir="rtl"] & {
        border-left: 0;
        border-right: 1px solid $button-color;
        margin: 0 10px 0 0;
        padding: 0 10px 0 0;
      }
    }
  }
}
